{# templates/admin/new_car.html.twig #}

{% extends 'admin/index.html.twig' %}

{% block title %}Cars{% endblock %}

{% block customPageStylesheet %}

{% endblock %}

{% block pageJavascripts %}

{% endblock %}

{% block dashboard_content %}

    <h1>Image uploaded successfully!</h1>

{% endblock %}
