{% extends 'base.html.twig' %}

{% block title %}Find Us{% endblock %}

{% block customPageStylesheet %}
    <style>
        #map { height: 600px; }
    </style>
{% endblock %}

{% block body %}
    <h1>Find Us</h1>

    <div id="map"></div>

    {% block pageJavascripts %}
        <!-- Include Google Maps JavaScript API -->

    {% endblock %}
{% endblock %}
